.leaderboard {
    margin: auto;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    width: 80%;
    background-color: #141D22;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.sectionClassement {
    position: relative;
}
.rankInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: -10vh;
}
.rankInfo img {
    filter: contrast(0%);
}
.popup {
    position: absolute;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    font-family: var(--poppins-font);
    color: #fff;
}
.popupContainer {
    position: relative;
    width: 80%;
    margin: auto;
    background-color: #141D22;
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.closePopup {
    position: absolute;
    right: 5px;
    top: 5px;
}