.leaderboard {
    margin: auto;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    width: 80%;
    background-color: #141D22;
    height: 200px;
}
.leaderboard:first-child .LeaderboardTop {
    
}