.footermenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

  }
  
  .footermenu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: var(--poppins-font);
    font-weight: var(--medium-font);
    font-style: var(--normal-font)
  }
  
  .footermenu a:hover {
    opacity:0.5; 
    border-radius: 5px;
  }
  
  .footermenu a:active {
    transform: scale(0.95);
  }
  